<h2 mat-dialog-title>Bem vindo(a) a plataforma descomplicando o inglês!</h2>
<mat-dialog-content class="mat-typography">
    <h3>Introdução a plataforma</h3>
    <p>Nossa plataforma de aprendizado de inglês foi desenvolvida para ajudar você a atingir seus objetivos de forma
        prática e eficiente. Oferecemos um ambiente interativo, com lições personalizadas, exercícios dinâmicos e
        feedback instantâneo, tudo para que você possa evoluir no seu ritmo. Aqui, você terá acesso a conteúdos
        atualizados e suporte contínuo, independentemente do seu nível de proficiência. Comece sua jornada com a gente e
        melhore suas habilidades no idioma de maneira envolvente e acessível!</p>
    <h3>Regras da plataforma</h3>
    <p><strong><span class="regras-p">1. Foco no Estudo:</span></strong> As discussões no grupo devem ser
        exclusivamente sobre lições,
        conteúdos e
        temas relacionados ao aprendizado de inglês. Qualquer assunto que foge desse foco não será permitido.</p>
    <p><strong><span class="regras-p">2. Respeito Mútuo:</span></strong> Trate todos os participantes com respeito.
        Críticas construtivas
        são
        bem-vindas, mas ofensas, provocações ou qualquer comportamento inadequado não serão tolerados.</p>
    <p><strong><span class="regras-p">3. Sem Spam ou Propaganda:</span></strong> Não é permitido divulgar conteúdos
        externos, links,
        produtos ou
        serviços que não tenham relação direta com os estudos na plataforma.</p>
    <p><strong><span class="regras-p">4. Participação Colaborativa:</span></strong> O grupo existe para ajudar no
        aprendizado de todos.
        Compartilhe
        dúvidas, insights, ou ajude seus colegas sempre que possível.</p>
    <p><strong><span class="regras-p">5. Moderação e Remoção:</span></strong> O moderador tem o direito de remover
        participantes que
        desrespeitarem as
        regras. O envio de mensagens fora do contexto de estudo também poderá levar à remoção do grupo, a critério do
        moderador.</p>
    <p><strong><span class="regras-p">6. Uso Apropriado da Língua:</span></strong> Embora todos estejam aprendendo,
        procure escrever de
        forma clara e
        educada. Dúvidas sobre gramática e vocabulário são sempre bem-vindas.</p>
    <h3>Agora que você leu as regras, partiu escolher seu nome e seu nível?</h3>
    <p>Lembrando que, essa parte é de extrema importância para que você tenha uma boa experiência na platorma, então
        selecione o seu nível correto. Bons estudos!</p>
    <label for="name"><span class="name-label">Nome:</span></label>
    <input type="text" id="name" placeholder="Escolha seu nome de plataforma">
    <p class="name-label">Nível de conhecimento</p>
    <div class="nivels">
        <div class="item-nivels">
            <label for="nivel">A1</label>
            <input type="radio" id="nivel" placeholder="">
        </div>
        <div class="item-nivels">
            <label for="nivel">A2</label>
            <input type="radio" id="nivel" placeholder="">
        </div>
        <div class="item-nivels">
            <label for="nivel">B1</label>
            <input type="radio" id="nivel" placeholder="">
        </div>
        <div class="item-nivels">
            <label for="nivel">B2</label>
            <input type="radio" id="nivel" placeholder="">
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Concluir</button>
</mat-dialog-actions>