<div class="content">
    <h1 *ngIf="!lessonOpen">Lições disponíveis para o nível {{ getUserLevelText() }}</h1>

    <div class="grid-difficulty-level" *ngIf="!lessonOpen">
        <div class="item" *ngFor="let lesson of lessonList; let i = index">
            <h1>{{ lesson.title }}</h1>
            <div class="item-image">
                <img src="/assets/images/pencils.jpg" alt="Imagem da lição">
            </div>
            <p>Descrição</p>
            <button (click)="doLesson(lesson.id, lesson.content, i)">Fazer lição</button>
        </div>
    </div>

    <div class="lesson-content" *ngIf="lessonOpen">
        <div *ngIf="!questionsOpen">
            <p>{{ content.text }}</p>
            <h2>Algumas frases do texto, clique nos cards para ver a tradução.</h2>

            <div class="wordsDrawn">
                <div class="wordsDrawn-item" *ngFor="let sentence of sentencesDrawnAttribute"
                    (click)="sentence.flipped = !sentence.flipped">
                    <div class="flip-container" [class.flipped]="sentence.flipped">
                        <div class="flipper">
                            <div class="front">
                                <p>{{ sentence.original }}</p>
                            </div>
                            <div class="back">
                                <p>{{ sentence.translation }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="questionsOpen">
            <h1>Questões</h1>
            <div class="remainingSentences" *ngFor="let sentence of remainingSentencesAttribute; let i = index">
                <h2>Questão {{ i + 1 }}</h2>
                <p>{{ sentence.original }}</p>
                <input type="text" placeholder="Tradução..." [(ngModel)]="sentence.userTranslation">
                <p *ngIf="sentence.isCorrect === true" class="correct-answer">Correto!</p>
                <p *ngIf="sentence.isCorrect === false" class="incorrect-answer">Incorreto! Tente novamente.</p>
            </div>
        </div>

        <div class="buttons">
            <button (click)="questionsOpen = false">Voltar</button>
            <button *ngIf="questionsOpen" (click)="submitAnswers()">Enviar</button>
            <button *ngIf="!questionsOpen" (click)="advance()">Avançar</button>
        </div>
    </div>
</div>